header {
  background-color: rgba(87, 117, 91, .7);
  border-bottom: 1px solid rgb(21, 24, 21);
  padding: 5px 10px;
  font-size: 2rem;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #ffffff;
}