div.article {
  background-color: rgba(149, 167, 151, 0.93);
  border: 1px solid #1e1e1e;
  color: black;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

div.article a {
  color: rgb(21, 86, 45);
}

div.article h4 {
  margin-bottom: 5px;
}

div.article p {
  font-size: .9rem;
  margin-top: 5px;
  margin-left: 5px;
}