* {
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background: rgb(78, 148, 85);
  color: #ffffff;
  margin: 0;
}

.error {
  border: 1px solid rgb(33, 108, 42);
  border-radius: 10px;
  background-color: rgb(177, 208, 181);
  color: black;
  padding: 0 20px;
}

.error p {
  margin: 10px 0;
}

p, span {
  font-family: 'Lustria', serif;
}

input {
  font-family: 'Raleway', sans-serif;
}